/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/Inter-Black.ttf') format('truetype');
}

.regular-text {
    font-family: 'Inter', sans-serif;
   
}

.clock-style{
    line-height: 2;
}
.bold-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.extra-bold-text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.black-text {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

  @-webkit-keyframes zoomIn {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      font-size: 1rem;
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      font-size: 1.5rem;
    }
  }

  .plineheight{
    line-height: 2;
  }
  @keyframes zoomIn {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      font-size: 1rem;
    }
    100% {
      -webkit-transform: scale(0.6);
              transform: scale(0.6);
      font-size: 1.5rem;
    }
  }
.bigger-text {
    font-size: 1em;
}
* {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.section-content p {
    font-size: 0.8em;
    -webkit-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}


.paragraph-visible {
    font-size: 1em;
}


body {
    margin: 0;
  
    font-size: 100%;
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    
    
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

@-webkit-keyframes fadeInFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
.navbar {
    background-color: transparent !important;
}



.titol{
    font-size: 80%;
}

.custom-titles {
    padding-bottom: 10px;
}


.section-content p {
    font-size: 0.8em;
    -webkit-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}


.paragraph-visible {
    font-size: 1em;
}

.title-fade-in {
    opacity: 0;
    -webkit-animation: fadeInFromTop 0.75s ease forwards;
            animation: fadeInFromTop 0.75s ease forwards;
}
.text-scale {
    font-size: 0.8em;
    -webkit-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.text-scale:hover {
    font-size: 1em;
}
.navbar-nav .nav-link.customlinka:hover{
    color: #CCCCCC !important; /* Change to the desired hover color */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.navbar {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}





.bg-white, .bg-dark {
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.custom-bg-dark {
    background-color: #222222;
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.quick-links ul li,
.quick-links p {
    line-height: 2;
    margin-right: 30px;
    list-style: none;

}

.quick-links ul {
    line-height: 2;
}
.customlinka{
    font-size:85%;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 12px;
}
.container {
    position: relative;
    z-index: 2;
}

.custombuttonsize{
    font-size: 90%;
}
.footer a:active {
    outline: none; /* Remove the default focus outline */
}


/* Apply rounded corners to specific sections */
.custom-bg-gray.custom-rounded {
    border-radius: 20px; /* Adjust the value to change the roundness of corners */
}

.custom-bg-white.custom-rounded {
    border-radius: 20px; /* Adjust the value to change the roundness of corners */
}
.navbar.white-bg {
    background-color: white !important;
    transition: background-color 0.3s ease;
}
.navbar {
    border-bottom: none !important;
    
    position: fixed;
    z-index: 3;

    width: 100%;
  

}

.navbar-brand img {
    padding: 0%;
    
    padding-left: 0px;
    max-height:100px;
}


.header {
    text-align: center;
  
    padding-top: 80px;

}
header .container {
    padding-top: 60px;
}
.header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.5em;
}


.footer {
    font-size: 80%;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 9999;
}
.section-content p {
    margin-bottom: 20px;
}
.custom-bg-gray {
    background-color: #e9ecef; 
}
.custom-bg-white {
    background-color: #282f48;
}
.footer p {
    margin: 0;
}
.footer .quick-links a {
    color: rgba(245, 245, 247, 0.72);
    text-decoration: none;
}
.text-white-custom{
    color:#DCDCDC !important
}

.footer .quick-links a:hover {
    color: #fff;
}
.navbar.scrolled {
    background-color: white !important;
}
.active-link {
    color: #ffffff !important;
}
.navbar.scrolled .nav-link {
    color: #000!important; /* Change the color to gray/black */
}
.navbar,
.header,
.footer,
.user-select-none {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        font-size: 1rem;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        font-size: 1rem;
        opacity: 1;
    }
}

@-webkit-keyframes zoombuttonIn {
    0% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0;
        font-size: 1.3rem;
    }
    100% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        font-size: 1.3rem;
        opacity: 1;
    }
}

@keyframes zoombuttonIn {
    0% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0;
        font-size: 1.3rem;
    }
    100% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        font-size: 1.3rem;
        opacity: 1;
    }
}

.zoom-in {
 
 
    opacity: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    transition: opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    -o-transition: transform 0.5s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0.1, 1), opacity 0.5s cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.5, 0, 0.1, 1);
}

.zoom-in.loaded {


    opacity: 1;
}

.aboutmoew {

    -webkit-animation-delay: 1s;

            animation-delay: 1s;
}

.paragraphmeow {

    -webkit-animation: zoomIn 0.40s ease forwards;

            animation: zoomIn 0.40s ease forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.paragraphmeoww {

    -webkit-animation: zoomIn 0.40s ease forwards;

            animation: zoomIn 0.40s ease forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.paragraphmeowww {

    -webkit-animation: zoomIn 0.40s ease forwards;

            animation: zoomIn 0.40s ease forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

.buttonmeow {

    -webkit-animation: zoombuttonIn 4s ease forwards;

            animation: zoombuttonIn 4s ease forwards;
   
    
}

.buttonnmeow {
    -webkit-animation: zoombuttonIn 1s ease forwards;
            animation: zoombuttonIn 1s ease forwards;
   
}
.fs-6 {
    font-size: 27px; /* Reset font size to its initial value */
}

    .navbar-brand-width {
        margin-top:16.5px !important;
        margin-left:10px !important
    }


@media (max-width: 991.5px) {
    .navbar {
        padding: 16.5px !important;
    }
}

.title-fade-in-1 {

    opacity: 0;
    -webkit-animation: fadeInFromTop 0.75s ease forwards;
            animation: fadeInFromTop 0.75s ease forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

/* Move the additional hamburger button to the right */
#additionalLinksBtn {
    right: 0;
    margin-right: 20px !important;
    position: absolute;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    right: -250px; /* Start position of the sidebar (off-screen) */
    top: 0;
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    background-color: #fff;
    z-index: 1000;
    transition: right 0.3s ease; /* Transition effect for smooth sliding */
}

.sidebar.active {
    right: 0; /* Slide the sidebar into view */
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

/* Hide the additional links button on small screens */
@media (max-width: 991.98px) {
    #additionalLinksBtn {
        display: none;
    }
}
